langchain
langchain_community
langchain_core
langchain_experimental
langchain_openai
langchain_groq
langchain_text_splitters
sentence-transformers
node2vec
tqdm
faiss-cpu
pysqlite-binary
llama_index
chromadb
